@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,500;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    height: 100vh;
    background: linear-gradient(120deg , #172026 , #027373);
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.relogio {
    display:  flex;
    justify-content: space-around;
    align-items: center;
    height: 200px;
    width: 550px;
    background: transparent;
    border-radius: 3px;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, .5);
}

.relogio div {
    height: 170px;
    width: 150px;
    display:  flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #025757;
    box-shadow: 5px 5px 5px rgb(0, 0, 0 , 0.7);
    border-radius: 7px;
    letter-spacing: 3px;
}

.relogio span {
    font-weight: bolder;
    font-size: 60px;
}

.relogio span.tempo {
    font-size: 10px;
}

@media screen and (max-width: 900px) {
    .relogio {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 150px;
        height: 420px;
    }

    .relogio div {
        height: 100px;
        width: 100px;
    }

    .relogio span {
        font-weight: bolder;
        font-size: 30px;
    }
}